<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.i851409.communityapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- This is the permission required to store/retrieve the picture into/from the external storage SD Card -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
        Google Maps Android API v2, but you must specify either coarse or fine
        location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="myapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomePageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventList"
            android:label="@string/title_activity_event_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventDescription"
            android:label="@string/title_activity_event_description"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventView"
            android:label="@string/title_activity_event_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".EventMaps"
            android:label="@string/title_activity_event_map" />
        <activity
            android:name=".MainApplicationWindow"
            android:label="@string/title_activity_main_application_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CoursesOuterListView"
            android:label="@string/title_activity_courses_outer_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CoaListView"
            android:label="@string/title_activity_coa_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CeListView"
            android:label="@string/title_activity_ce_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CpListView"
            android:label="@string/title_activity_cp_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LsobListView"
            android:label="@string/title_activity_lsob_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoeListView"
            android:label="@string/title_activity_soe_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SolListView"
            android:label="@string/title_activity_sol_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeatherActivity"
            android:label="@string/title_activity_weather"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfessorDescription"
            android:label="@string/title_activity_professor_description"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Information"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Email"
            android:label="@string/title_activity_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Video"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Emergency"
            android:label="@string/title_activity_emergency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tweets"
            android:label="@string/title_activity_tweets"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
